@import "tailwindcss";


body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;


 
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(135deg,#1a0b19,#150d2d, #162134);
  overflow-x: hidden !important;
  width: 100vw;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.card{
  background-color: #0c071b;
  box-shadow: rgba(215,106,255,0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.techStack{
  border: 2px solid purple;
  border-radius: 1rem;
  box-shadow: 0 2px 10px purple;
}